<%= stylesheet_link_tag 'scaffold' %>
<h1>Sistema Escolar</h1>

<td><%= link_to 'Professores', professores_path %></td>
<td><%= link_to 'Alunos', alunos_path %></td>
<td><%= link_to 'Turmas', turmas_path %></td>
