<h1>Adicionando Provas</h1>


<%= render 'form' %>

<%= link_to "Voltar", :controller => "alunos",
                                 :action => "show",
                                 :id => @aluno%>
